<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>PoseidonApp</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/bids/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoints/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/ratings/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trades/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleNames/list">Rule</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row"><h2>Curve Point List</h2></div>
    <div class="row">
        <a href="/curvePoints/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curvePoint : ${curvePointList}">
                <td><span th:text="${curvePoint.id}"></span></td>
                <td><span th:text="${curvePoint.term}"></span></td>
                <td><span th:text="${curvePoint.value}"></span></td>
                <td class="row d-flex justify-content-center">
                    <a th:href="@{/curvePoints/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}">
                        <span class="btn btn-link">Edit</span>
                    </a>
                    <a th:href="@{/curvePoints/delete/{id}(id=${curvePoint.id})}">
                        <span class="btn btn-link">Delete</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>