<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>PoseidonApp</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Update CurvePoint</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/curvePoints/update/{id}(id=${curvePointDTO.id})}" th:object="${curvePointDTO}"
              method="post" class="form-horizontal" style="width: 100%">
            <div class="border border-secondary p-3 rounded">
                <p>
                    <label for="id" class="col-form-label">ID</label>
                    <input type="text" name="id" id="id" class="form-control" placeholder="id" th:field="*{id}"
                           autofocus/>
                    <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
                <p>
                    <label for="term" class="col-form-label">Term</label>
                    <input type="text" name="term" id="term" class="form-control" placeholder="update term here"
                           th:field="*{term}"/>
                    <p th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>

                <p>
                    <label for="value" class="col-form-label">Value</label>
                    <input type="number" name="value" id="value" class="form-control" placeholder="update value here"
                           th:field="*{value}"/>
                    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
                <p>
                    <input type="submit" value="Register" class="btn btn-primary"/>
                </p>
            </div>
        </form>
    </div>

</div>
</body>
</html>