<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en-GB">
    <head>
        <title>Poseidon</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <h3> HOME PAGE </h3>
        <div class="col-md-1 text-end" sec:authorize="isAnonymous()">
            <form th:action="@{/login}" method="get"><button type="submit" class="btn btn-primary me-2">Login</button></form>
        </div>
        <p>
            or create one <a href="/user/list">User management</a>
        </p>
    </body>
</html>